# Python
__pycache__/
*.pyc
venv/
venv/

# Django
db.sqlite3
media/
*.log
uploads/

# React
node_modules/
build/
.env.local

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations 
# */migrations/